<div class="container">
  <div class="jumbotron">
    <h1>{{heading.title}}</h1>
    <p>{{heading.lessTitle}}</p>
  </div>
  <div class=" col-lg-3"></div>
  <div class="row col-lg-6 text-center float-center ">
    <carousel-content></carousel-content>
  </div>
  <!--<div class="col-lg-3">
    <button class="btn btn-default" type="button" role="button" (click)="showPanel()">Prev</button>
    <button class="btn btn-primary" type="button" role="button" (click)="showPanel()">Next</button>
  </div>-->
 <div class="col-lg-3"></div>
</div>
