<div class="flip-container vertical panel panel-default">
  <div class="flipper panel-body">
    <div class="front">
      <!-- front card -->
      <div class="panel-heading">
        <h1>{{cardData.strQn}}</h1>
      </div>
      <div class="panel-body">
        <h2>{{card.qn}}</h2>
      </div>
    </div>
    <div class="back">
      <!-- back card -->
      <div class="panel-heading">
        <h1>{{cardData.strAns}}</h1>
      </div>
      <div class="panel-body">
        <h2>{{card.ans}}</h2>
      </div>
    </div>
  </div>
</div>
